
server:
  error:
    whitelabel:
      enabled: false
  tomcat:
    accesslog:
      pattern: "%{X-Forwarded-For}i %T %D %l %u %t \"%r\" %s %b \"%{Referer}i\" \"%{User-Agent}i\""
      enabled: true
  compression:
    enabled: true
    mime-types: application/json
  port: 5000

spring:
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://inssuefinder-dev.czgpnzk7zfrq.ap-northeast-2.rds.amazonaws.com:3306/issuefinder
      username: issuefind
      password: 12345678
      driver-class-name: com.mysql.cj.jdbc.Driver
  host:
    paxnet: http://www.paxnet.co.kr/stock/sise/totalRanking
    naver-article: https://finance.naver.com/item/board.nhn
    naver-price: https://finance.naver.com/item/sise_day.nhn
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    format_sql: true
    open-in-view: true
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    check-template: true
    suffix: .html
    mode: HTML
  task:
    scheduling:
      pool:
        size: 8
      thread-name-prefix: my-scheduler
  jwt:
    token:
      secret-key: secret-key
      expire-length: 300000 # 5 minutes duration by default: 5 minutes * 60 seconds * 1000 miliseconds


management:
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    export:
      prometheus:
        enabled: true

