<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.issuefinder.crawling.mapper.UserMapper">

    <select id="findByUsername" resultType="com.issuefinder.crawling.model.User">
        SELECT
             email
           , username
           , gender
           , phone
           , birthday
        FROM quantreport.user
        WHERE username = #{username}
    </select>

    <select id="findByEmail" resultType="com.issuefinder.crawling.model.User">
        SELECT
             email
           , password
           , username
           , gender
           , phone
           , birthday
        FROM quantreport.user
        WHERE email = #{email}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT
          CASE WHEN count(*) > 0 THEN 1 ELSE 0 END
        FROM quantreport.user
        WHERE email = #{email}
    </select>


    <insert id="save" parameterType="com.issuefinder.crawling.model.User">
        INSERT INTO quantreport.user
        (
             email
           , password
           , username
           , gender
           , phone
           , birthday
        )
        SELECT #{email}
             , #{password}
             , #{username}
             , #{gender}
             , #{phone}
             , #{birthday}
    </insert>
</mapper>
